
<div class="float-right">
  <%= link_to I18n.t("terms_app.user_portability_requests.index.button"), user_portability_requests_path, class: "btn btn-success", method: :post, data: { confirm: I18n.t("terms_app.misc.are_you_sure") } %>
</div>
<h2>
  <%= I18n.t("terms_app.user_portability_requests.index.title") %>

</h2>

<% if @user_portability_requests.any? %>
  <div class="card">

    <div class="card-header">
      <h3 class="card-title">
        <%= I18n.t("terms_app.user_portability_requests.index.title") %>
      </h3>
    </div>

    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th><%= I18n.t("terms_app.user_portability_requests.index.table.state") %></th>
            <th><%= I18n.t("terms_app.user_portability_requests.index.table.file") %></th>
            <th><%= I18n.t("terms_app.user_portability_requests.index.table.created_at") %></th>
            <!--<th>Expire at</th>-->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user_portability_requests.each do |portability_request| %>
            <tr>
              <td>
              <span class="tag <%=state_color(portability_request.state)%>">
                <%= I18n.t("terms_app.user_portability_requests.index.states.#{portability_request.state}") %>
              </span>
              </td>
              <% if portability_request.completed? %>
                <td>
                    <%= link_to portability_request.attachment.download_link, class: "btn btn-secondary btn-sm" do %>
                    <i class="fa fa-download"></i>
                    <%= I18n.t("terms_app.misc.download")%>
                  <% end %>
                </td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= portability_request.created_at %></td>
              <!--<td><%= portability_request.expire_at %></td>-->
              <td><%= link_to I18n.t("terms_app.user_portability_requests.index.table.destroy"), user_portability_request_url(portability_request.id), method: :delete, data: { confirm: I18n.t("terms_app.misc.are_you_sure") }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>


  </div>

  <%= will_paginate @user_portability_requests, renderer: PolicyManager::BootstrapLinkRenderer %>

<% else %>
  <p><%= I18n.t("terms_app.user_portability_requests.index.empty") %></p>
<% end %>