<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t("terms_app.title") %></title>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    "policy_manager/application", media: "all" %>
  <%= javascript_include_tag "policy_manager/application", debug: false %>

</head>
<body>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
      <%= I18n.t("terms_app.sub_title") %></a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <% if PolicyManager::Config.logout_url.present? %>
          <a class="nav-link" href="<%= PolicyManager::Config.logout_url %>"><%= I18n.t("terms_app.sign_out") %></a>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <% if PolicyManager::Config.is_admin?(current_user) %>
              <li class="nav-item">
                <a class="nav-link" href="<%= categories_path %>">
                  <i class="fas fa-balance-scale"></i>
                  <%= I18n.t("terms_app.menu.policies") %> 
                </a>
              </li>
            <% end %>
            

            <% if PolicyManager::Config.is_admin?(current_user) %>
              <li class="nav-item">
                <a class="nav-link" href="<%= portability_requests_path %>">
                  <i class="fas fa-suitcase"></i>
                  <%= I18n.t("terms_app.menu.portability_requests") %>
                </a>
              </li>
            <% end %>

            <li class="separator"></li>

            <li class="nav-item">
              <a class="nav-link" href="<%= pending_user_terms_path %>">
                <i class="fas fa-user-secret"></i>
                <%= I18n.t("terms_app.menu.user_pending_policies") %>       
              </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="<%= user_portability_requests_path %>">
                <i class="fas fa-suitcase"></i>
                <%= I18n.t("terms_app.menu.user_portability_requests") %>
              </a>
            </li>
  
          </ul>

        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <p id="notice">
          <%= flash_messages %>
        </p>
        <%= yield %>
      </main>
    </div>
  </div>

</body>
</html>
