<div class="header py-4">
  <div class="container">
    <div class="d-flex">

      <a class="header-brand" href="<%= root_url %>">
        <%= I18n.t("terms_app.sub_title") %>
        <!--<img src="./demo/brand/tabler.svg" class="header-brand-img" alt="tabler logo">-->
      </a>

      <div class="d-flex order-lg-2 ml-auto">

        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(<%= gravatar_url(controller.current_user, 40)%>)"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">
                <%= controller.current_user.email %>
              </span>
              <% if PolicyManager::Config.is_admin?(controller.current_user) %>
                <small class="text-muted d-block mt-1">Administrator</small>
              <% end %>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <!--
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            <div class="dropdown-divider"></div>
            -->

            <% if PolicyManager::Config.logout_url.present? %>
              <a class="dropdown-item" href="<%= PolicyManager::Config.logout_url %>">
                <i class="dropdown-icon fe fe-log-out"></i>
                <%= I18n.t("terms_app.sign_out") %>
              </a>
            <% end %>

          </div>
        </div>

      </div>

      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">

        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

          <% if PolicyManager::Config.is_admin?(controller.current_user) %>

            <li class="nav-item">
              <a class="nav-link" href="<%= categories_path %>">
                <i class="fas fa-balance-scale"></i>
                <%= I18n.t("terms_app.menu.policies") %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= portability_requests_path %>">
                <i class="fas fa-suitcase"></i>
                <%= I18n.t("terms_app.menu.portability_requests") %>
              </a>
            </li>

          <% end %>

          <% if controller.current_user.class.to_s == PolicyManager::Config.user_resource.to_s %>

            <li class="separator"></li>

            <li class="nav-item">
              <a class="nav-link" href="<%= pending_user_terms_path %>">
                <i class="fas fa-user-secret"></i>
                <%= I18n.t("terms_app.menu.user_pending_policies") %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= user_portability_requests_path %>">
                <i class="fas fa-suitcase"></i>
                <%= I18n.t("terms_app.menu.user_portability_requests") %>
              </a>
            </li>

          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
