<% path = @term.persisted? ? category_term_path(params[:category_id], @term) : category_terms_path(params[:category_id]) %>

<%= form_with(model: term, local: true, url: path ) do |form| %>
  <% if term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(term.errors.count, "error") %> <%= I18n.t("terms_app.terms.new.error") %></h2>

      <ul>
      <% term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :rule, value: params[:category_id] %>     
  
  <div class="form-group">
    <label><%= I18n.t("terms_app.terms.new.state") %></label>
    <%= form.select :state, PolicyManager::Term.aasm.states.collect{ |state| [I18n.t("terms_app.states.#{state}"), state] }%>   
  </div>

  <div class="form-group">
    <%= form.label I18n.t("terms_app.terms.new.description") %>
    <%= form.text_area :description, id: :term_description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-success", value: I18n.t("terms_app.misc.save") %>
<% end %>

<script>
var simplemde = new SimpleMDE({ element: $("#term_description")[0] });
</script>
